<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <line ref="icon" href="/images/logo.png" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/home.js"></script>
</head>
<body>
    <center>
        <img src="/images/logo.png" height="55px"/>
    </center>
    <center>
        Welcome <span id="user-name"></span>!
    </center>
    <footer>
        © 2017 Similar Server.
    </footer>
</body>
</html>